/* App.css */


.navbar {
  width: 100%;
  height: 70px;
  background-color: #333;
  display: flex;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar a {
  margin-left: 20px;
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

/* Optional: Add styles for the active link */
.navbar a.active {
  background-color: #4CAF50;
  color: white;
}




/* Home.css */
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.item {
  border: 1px solid #ddd;
  padding: 15px;
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
}

.name {
  font-weight: bold;
  margin-top: 10px;
}

.price {
  margin-top: 5px;
}

.add-to-cart {
  background-color: #4caf50;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
  font-size: 14px;
}

.add-to-cart:hover {
  background-color: #45a049;
}

/* Basket.css */
ul {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

li {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  margin-top: 10px;
  margin-right: 10px;
  background-color: #f44336;
  color: #fff;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
}

.buy {
  background-color: #4caf50;
}

.buy:hover {
  background-color: #45a049;
}

button:hover {
  background-color: #d32f2f;
}